<p style="font-family: Arial; font-size:4.15em; color:navy; font-style:bold"><br>
Intelligent Data Analysis</p><br>

## Part III Decision Trees  
Pavol Grofčík  
Dennis Sobolev

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import math
import json as js
import seaborn as sns
import scipy.stats as stats
import datetime as dt
import re
import statsmodels.api as sm
from sklearn import neighbors
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import Normalizer,LabelEncoder, OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
#from graphviz import Source    Dennis you need to install this one to show your Decision Tree
from IPython.display import SVG

#Importing our preprocessing scripts - Preprocesing_Scripts.py
import Preprocesing_Scripts as ps

#Filter out warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)
warnings.simplefilter(action='ignore', category=DeprecationWarning)

%matplotlib inline

<p style="font-family: Arial; font-size:2.95em; color:gold; font-style:bold"><br>
Content</p><br>

## Following sections

In this NB we provide our finish goal - **prediction of health state** of patients based on hormone values and other factors.
The prediction is made by **Decision Trees** and at the end of our NB we conclude different approaches using different techniques dealing with missing values.

**The following sections include:**

* **Loading and preprocessing train & valid datasets**  
* **Manual classifying based on chosen parameters found out in Analysis**  
* **Traning a model and doing cross validation**  
* **Comparison of models and their scores using different approach**  
* **Statistics & final results**

# I. Loading and preprocessing train/valid datasets

In [2]:
#In this phase we compare two techniques - median/mean method with dealing with missing values
#Lists with train & valid datasets preprocessed with the chosen technique
Medians = []
Means = []

In [3]:
#Loading train sample
df_personal = pd.read_csv("Datasets/personal_train.csv", index_col=0)
df_other = pd.read_csv("Datasets/other_train.csv", index_col=0)
df_personal.head()

,name,address,age,sex,date_of_birth
0,Terry Terry,"11818 Lori Crossing Apt. 802\nPughstad, DC 78165",68.0,M,1949-11-16
1,Edith Boudreaux,"PSC 4657, Box 5446\nAPO AP 58412",75.0,F,1943-08-10
2,Stephen Lalk,Unit 9759 Box 9470\nDPO AP 45549,67.0,M,1951-05-28
3,Abraham Bruce,"137 Lewis Flat Suite 762\nWest Elizabeth, AL 3...",34.0,?,1984-02-13
4,Janet Washington,"995 Frank Stravenue\nSouth Matthewport, TX 81402",65.0,F,1953/06/24

In [4]:
#The same process applied to valid sample
df_val_personal = pd.read_csv("Datasets/personal_valid.csv", index_col=0)
df_val_other = pd.read_csv("Datasets/other_valid.csv", index_col=0)
df_val_other.head()

,name,address,query hyperthyroid,FTI measured,education,lithium,TT4,T4U,capital-loss,capital-gain,...,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
0,Lisa Maguire,"3124 Brian Green Suite 008\nEast Jennifer, RI ...",f,t,Assoc-voc,f,140.0,0.88,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,-1100.0,Prof-specialty,f,?,White,160
1,Margie Hunter,"4549 Richardson Ridge\nMooremouth, ID 75154",f,t,Some-college,f,139.0,0.86,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,10.0,Exec-managerial,f,?,White,161
2,Starla Totman,"53807 John Brooks Apt. 773\nDonaldchester, MI ...",f,t,Some-college,f,131.0,1.18,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Adm-clerical,f,?,White,NaN
3,Mark Deberry,"791 Kylie Island Suite 926\nCruzbury, MN 75035",f,t,Assoc-acdm,f,50.0,0.25,0.0,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,12.0,Tech-support,f,?,White,205
4,Jesica Gonzalez,Unit 1922 Box 3740\nDPO AP 33674,f,t,Some-college,f,67.0,0.96,NaN,0.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,10.0,Adm-clerical,f,?,White,69

## Merging and preprocessing datasets

In [5]:
#In this section we need to preprocess train & valid datasets twice - using mean and median method for both part
df_merged = pd.merge(df_personal,df_other, on=["name", "address"], how="inner", sort = True, copy = True)

In [6]:
df_merged_valid = pd.merge(df_val_personal, df_val_other, on=["name", "address"], how = "inner", sort = True, copy = True)

In [7]:
df_merged[df_merged["name"] == "Flora Jackson"].head()

,name,address,age,sex,date_of_birth,query hyperthyroid,FTI measured,education,lithium,TT4,...,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
754,Flora Jackson,"4798 Carter Turnpike\nJosemouth, WV 19340",39.0,F,1979-02-26 00 00 00,t,t,HS-grad,f,84.0,...,NaN,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Adm-clerical,f,?,White,85
755,Flora Jackson,"4798 Carter Turnpike\nJosemouth, WV 19340",39.0,F,1979-02-26 00 00 00,t,t,HS-grad,f,84.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",NaN,other,9.0,Adm-clerical,NaN,?,White,85

In [8]:
#We create common mask to identify duplicates
mask = df_merged.duplicated(subset=["name", "address"])

In [9]:
#Here we select only the rows that are duplicated
duplicates = df_merged[mask == True]

In [10]:
#Here we merge our datasets into one separate for median/mean method
ps.fill_from_duplicates(df=df_merged, duplicates=duplicates, indexes=duplicates.index)
ps.fill_from_duplicates(df=df_merged_valid, duplicates=duplicates, indexes=duplicates.index)

Done

In [11]:
df_merged[df_merged["name"] == "Flora Jackson"]

,name,address,age,sex,date_of_birth,query hyperthyroid,FTI measured,education,lithium,TT4,...,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,TBG measured,TBG,race,FTI
741,Flora Jackson,"4798 Carter Turnpike\nJosemouth, WV 19340",39.0,F,1979-02-26 00 00 00,t,t,HS-grad,f,84.0,...,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,9.0,Adm-clerical,f,?,White,85

In [12]:
#Formatting the date
df_merged["date_of_birth"] = df_merged["date_of_birth"].apply(lambda x: ps.format_date(date=x))
df_merged_valid["date_of_birth"] = df_merged_valid["date_of_birth"].apply(lambda x: ps.format_date(date=x))

In [13]:
#Parsing JSON medical info
df_merged = ps.add_columns(data=df_merged, json_col = "medical_info")
df_merged_valid = ps.add_columns(data = df_merged_valid, json_col = "medical_info")

In [14]:
#Noramalizing categorical columns
ps.normalize_columns_booleans(data = df_merged, df_new= df_merged)
ps.normalize_columns_booleans(data = df_merged_valid, df_new= df_merged_valid)

Normalized query hyperthyroid
Normalized FTI measured
Normalized lithium
Normalized tumor
Normalized sick
Normalized TT4 measured
Normalized goitre
Normalized hypopituitary
Normalized on antithyroid medication
Normalized TBG measured
Normalized query hypothyroid
Normalized T4U measured
Normalized pregnant
Normalized thyroid surgery
Normalized TSH measured
Normalized query on thyroxine
Normalized I131 treatment
Normalized on thyroxine
Normalized T3 measured
Normalized psych
Normalized query hyperthyroid
Normalized FTI measured
Normalized lithium
Normalized tumor
Normalized sick
Normalized TT4 measured
Normalized goitre
Normalized hypopituitary
Normalized on antithyroid medication
Normalized TBG measured
Normalized query hypothyroid
Normalized T4U measured
Normalized pregnant
Normalized thyroid surgery
Normalized TSH measured
Normalized query on thyroxine
Normalized I131 treatment
Normalized on thyroxine
Normalized T3 measured
Normalized psych

In [15]:
#Special kind of normalization
#Stripping the class column for both - train and valid dataset
df_merged["class"] = df_merged["class"].str.replace("_","")
df_merged["class"] = df_merged["class"].str.replace("|","")
df_merged[["class", "class_num"]] = df_merged["class"].str.split(".",expand = True)

df_merged_valid["class"] = df_merged_valid["class"].str.replace("_", "")
df_merged_valid["class"] = df_merged_valid["class"].str.replace("|", "")
df_merged_valid[["class", "class_num"]] = df_merged_valid["class"].str.split(".", expand = True)

In [16]:
df_merged["class"].head()

0                     negative
1    increased binding protein
2                     negative
3                     negative
4                     negative
Name: class, dtype: object

In [17]:
df_merged[df_merged.columns[15:]].head()

,T3,fnlwgt,hours-per-week,relationship,sick,workclass,TT4 measured,class,marital-status,goitre,...,T4U measured,pregnant,thyroid surgery,TSH measured,query on thyroxine,I131 treatment,on thyroxine,T3 measured,psych,class_num
0,2.0,240810.0,45.0,Husband,f,private,t,negative,Married-civ-spouse,f,...,t,f,f,t,f,f,f,t,f,511
1,3.0,55743.0,45.0,Wife,f,Private,t,increased binding protein,Married-civ-spouse,f,...,t,f,f,t,f,f,f,t,f,1799
2,2.0,193868.0,50.0,Not-in-family,f,Self-emp-inc,t,negative,Never-married,f,...,t,f,f,t,f,f,f,t,f,2741
3,1.6,119069.0,40.0,Husband,f,Self-emp-not-inc,t,negative,Married-civ-spouse,f,...,t,f,f,t,f,f,f,t,f,542
4,1.8,195189.0,40.0,Unmarried,f,Private,t,negative,Divorced,f,...,t,f,f,t,f,f,f,t,f,72

## Here name cols that you want to use in your manual prediction, because the same cols we will use to build a model and compare it with your manual one  that are not used as follows below

# Check it out I do it for yours selected cols

# Creating mean and median datasets

In [18]:
df_mean=df_merged.copy()
df_med=df_merged.copy()

df_mean_valid=df_merged_valid.copy()
df_med_valid=df_merged_valid.copy()

In [19]:
#Here we fill missing values by chosen technique for columns we will use in next phase
Filled_cols = ["TT4", "T4U", "TSH", "T3"]

#Iterating over columns and filling it 
for column in Filled_cols:

    ps.fill_numeric_miss_values(data=df_mean, column =column, method="mean")
    ps.fill_numeric_miss_values(data=df_mean_valid, column = column, method="mean")
    ps.fill_numeric_miss_values(data=df_med, column = column, method= "med")
    ps.fill_numeric_miss_values(data=df_med_valid, column = column, method= "med")

MEAN  Value is: 109.32809956917185
Filling missing values by MEAN done!
MEAN  Value is: 105.93978723404254
Filling missing values by MEAN done!
MED  Value is: 109.32809956917185
Filling missing values by MED done!
MED  Value is: 105.93978723404254
Filling missing values by MED done!
MEAN  Value is: 0.9961508491508485
Filling missing values by MEAN done!
MEAN  Value is: 0.9874944320712697
Filling missing values by MEAN done!
MED  Value is: 0.9961508491508485
Filling missing values by MED done!
MED  Value is: 0.9874944320712697
Filling missing values by MED done!
MEAN  Value is: 4.501820448877802
Filling missing values by MEAN done!
MEAN  Value is: 6.209628603104214
Filling missing values by MEAN done!
MED  Value is: 4.501820448877802
Filling missing values by MED done!
MED  Value is: 6.209628603104214
Filling missing values by MED done!
MEAN  Value is: 2.024237288135594
Filling missing values by MEAN done!
MEAN  Value is: 1.9864356435643564
Filling missing values by MEAN done!
MED  Value is: 2.024237288135594
Filling missing values by MED done!
MED  Value is: 1.9864356435643564
Filling missing values by MED done!

In [20]:
#Function calculates current age from date of birth
def calculate_age(born):
    today = dt.datetime.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [21]:
#Script for parsing date to appropriate value
def parse_date(df, date_col):
    date = df[date_col].copy()
    
    years = 100
    days_per_year = 365.24
    
    for i in range(0,len(date)):
        date[i] = str(date[i])
        if(len(date[i].split("-")[0]) > 2):
            date[i] = date[i][2:]
            if(len(date[i]) > 2):
                date[i] = dt.datetime.strptime(date[i], "%y-%m-%d")
                date[i] = date[i] - dt.timedelta(days = (years*days_per_year))
                
        else:
            if(len(date[i]) > 2):
                date[i] = dt.datetime.strptime(date[i], "%y-%m-%d")
                date[i] = date[i] - dt.timedelta(days = (years*days_per_year))

        
        
    df[date_col] = date

In [22]:
#Parsing dates
parse_date(df_mean, "date_of_birth")
parse_date(df_med, "date_of_birth")
#parse_date(df_med_valid, "date_of_birth")
#parse_date(df_mean_valid, "date_of_birth")

In [23]:
df_mean_valid["date_of_birth"].unique()

array(['1985-08-10', '1959-09-19', '1989-04-07', '1990-04-21',
       '1939-10-01', '62-04-21', '1949-12-23', '1953-01-25', '1960-08-29',
       '1964-08-26', '1943-02-07', '1993-12-09', '1985-02-27',
       '2002-02-08', '1960-06-19', '1972-01-19', '1952-05-12',
       '1949-01-12', '1975-12-06', '1986-07-13', '1980-09-19',
       '1983-06-22', '1980-03-08', '1999-01-25', '1946-12-12', '48-03-24',
       '1992-05-04', '1935-06-18', '1958-12-15', '1944-05-23',
       '1985-10-07', '1997-02-16', '1935-07-04', '1929-12-02',
       '1951-07-26', '1997-09-12', '1987-05-17', '91-03-20', '1950-05-12',
       '1958-03-01', '1953-05-06', '1943-01-31', '1982-06-15',
       '1953-12-13', '1939-08-27', '48-03-13', '1965-09-08', '1952-12-25',
       '1997-09-30', '1997-09-06', '1976-10-30', '1944-03-01',
       '1952-04-11', '1979-09-07', '1970-06-11', '1949-07-29',
       '1982-06-22', '1968-05-09', '1972-06-17', '92-12-01', '1999-08-23',
       '1953-04-19', '1990-08-18', '1965-11-07', '1985-12-19',
       '2011-09-30', '1984-03-23', '1947-07-03', '1948-12-11',
       '1957-11-14', '1959-10-28', '60-02-07', '1975-10-16', '1963-02-09',
       '2001-02-23', '1973-03-11', '1945-07-18', '1952-01-17',
       '1971-04-05', '1934-05-03', '1953-09-27', '1996-03-19',
       '1956-05-21', '1944-07-07', '1958-06-10', '1940-07-19',
       '1970-08-21', '1987-06-28', '1956-01-30', '1987-08-14',
       '1954-12-30', '1945-07-25', '1980-06-23', '1950-01-06',
       '1979-04-18', '2003-12-07', '42-11-17', '1951-03-01', '1944-12-17',
       '1979-07-31', '1968-02-29', '1992-12-22', '1984-02-04',
       '1942-06-22', '1992-03-26', '1958-11-08', '1995-09-15',
       '1953-10-16', '1976-03-13', '1949-03-14', '1968-09-02',
       '1958-09-10', '1950-08-28', '1985-01-27', '2002-02-25', '69-03-11',
       '1937-08-19', '1965-09-06', '1999-08-08', '1956-05-26',
       '1990-02-05', '1942-04-05', '1961-10-17', '1957-02-04',
       '1949-03-12', '1934-04-30', '1946-10-23', '1966-11-25',
       '1978-01-22', '1937-03-17', '1973-04-03', '1942-03-12',
       '1939-03-25', '1977-08-21', '45-08-10', '1957-09-08', '1955-07-25',
       '1981-10-18', '1973-02-18', '1956-10-05', '73-05-27', '1964-09-01',
       '1965-01-17', '57-03-06', '1987-04-05', '1971-01-15', '1940-06-20',
       '1976-04-01', '1990-06-20', '1979-12-07', '2007-03-16',
       '1953-05-17', '1945-03-05', '1988-08-03', '1947-02-16',
       '1973-09-21', '1941-11-06', '1961-05-16', '1980-04-05',
       '1990-06-26', '1960-06-30', '1950-05-25', '1980-08-02',
       '1953-09-02', '1975-12-22', '1991-11-21', '1962-05-27',
       '1976-07-29', '1960-09-18', '1991-09-16', '1966-10-31',
       '1985-05-11', '1958-12-04', '1963-09-20', '1949-07-05',
       '1994-12-31', '1963-04-01', '1970-12-11', '1976-12-09',
       '1958-03-29', '1965-11-05', '1987-12-29', '1956-06-04',
       '1967-07-05', '1956-09-05', '1925-11-28', '1979-10-10',
       '1985-08-06', '1984-11-21', '1944-04-28', '46-12-08', '1932-12-23',
       '59-10-05', '1984-11-07', '1973-11-14', '1966-09-13', '1947-02-19',
       '2003-10-02', '1991-12-26', '1950-03-22', '1934-08-04',
       '1957-03-26', '1968-09-11', '1990-08-27', '1944-07-21',
       '1994-03-09', '1971-08-16', '1979-01-10', '1966-04-20',
       '1962-05-05', '1992-10-14', '1971-05-23', '1980-11-14',
       '1963-07-15', '1977-02-28', '1950-09-28', '1984-10-12',
       '1959-12-05', '1976-11-06', '1982-06-27', '1950-05-15',
       '1969-07-12', '1986-10-20', '1960-05-11', '1973-05-11',
       '1951-02-08', '1957-09-11', '1966-07-10', '50-12-30', '1944-12-29',
       '1945-06-09', '1989-06-03', '1998-01-26', '1970-08-26',
       '1958-09-29', '1959-06-24', '1959-12-21', '1964-01-25',
       '1999-05-30', '1949-05-21', '46-01-10', '1984-03-07', '1925-03-16',
       '1989-01-04', '1941-01-30', '1988-04-15', '1989-03-17',
       '1996-02-16', '1951-05-06', '1972-08-13', '1998-11-20',
       '1952-02-22', '1953-09-24', '1975-12-03', '1950-07-06',
       '1959-12-13', '55-05-19', '1957-03-02', '1947-12-07', '1946-05-13',
       '1940-10-28', '1941-08-14', '89-03-12', '1971-09-28', '1961-10-07',
       '1994-12-09', '1970-04-09', '2002-08-06', '1997-12-11',
       '1990-12-30', '1951-01-31', '2003-06-06', '1986-10-25',
       '1956-10-20', '1943-12-03', '1950-11-05', '1969-12-16',
       '1980-03-27', '1985-04-16', '1971-03-07', '1955-12-13',
       '1981-08-21', '1943-07-26', '1991-05-20', '90-07-31', '1959-07-07',
       '1953-08-19', '1992-01-01', '1951-03-12', '1986-03-22',
       '1997-11-29', '1973-04-12', '59-11-29', '1956-04-12', '1970-04-22',
       '1996-12-29', '52-03-12', '1973-06-19', '1954-06-19', '81-12-29',
       '1963-07-14', '1957-03-18', '1978-10-09', '1942-04-13',
       '1973-07-27', '1984-08-30', '1953-08-20', '1943-09-08', '62-03-03',
       '56-01-10', '1993-04-04', '1946-03-07', '1963-11-17', '1974-12-09',
       '1953-02-01', '1959-12-03', '1959-05-03', '1940-11-01',
       '1943-10-04', '1987-03-14', '1998-01-18', '1967-10-24',
       '1961-03-27', '1935-04-12', '1969-05-31', '1947-05-16',
       '1982-02-03', '1999-09-23', '1940-01-18', '1960-01-28',
       '1971-10-29', '1992-10-30', '1977-04-30', '1947-08-07',
       '1943-03-08', '1940-11-14', '1980-01-29', '1981-04-16',
       '1981-08-11', '1979-01-27', '1978-08-10', '1956-10-27',
       '1953-07-30', '1991-06-22', '1960-02-03', '1964-04-03',
       '1941-02-01', '1982-03-28', '1949-06-25', '1992-06-13',
       '1973-12-15', '1957-07-12', '1990-07-02', '1989-04-01', '68-03-08',
       '1969-03-24', '1958-09-18', '1962-03-19', '1995-10-21',
       '1986-09-22', '1963-01-10', '1962-07-29', '1972-12-11',
       '1988-01-19', '1980-11-02', '1946-03-12', '1999-10-10',
       '1973-06-11', '1969-07-24', '1980-02-28', '1968-11-11',
       '1930-01-09', '1948-02-26', '1981-05-10', '63-10-25', '1969-06-13',
       '60-09-30', '1976-08-23', '1950-06-23', '57-05-21', '1977-04-16',
       '1950-06-13', '1955-04-19', '1992-12-19', '1990-06-13',
       '1948-06-13', '1986-12-23', '1944-05-01', '1953-01-20',
       '1953-05-12', '1963-10-16', '1958-02-11', '1974-04-29',
       '1938-12-18', '1967-12-28', '1962-05-01', '1997-11-06',
       '1951-10-25', '50-09-14', '1959-08-01', '1956-02-01', '1954-04-16',
       '1969-11-01', '1946-05-21', '1976-06-20', '1993-06-21',
       '1973-09-24', '2004-01-03', '1966-06-24', '1984-06-07',
       '2002-12-01', '1955-11-30', '1996-10-28', '1933-07-04',
       '1985-06-03', '58-06-29', '1958-07-13', '1981-08-28', '1944-08-28',
       '1931-07-24', '1961-10-20', '62-12-23', '1947-03-01', '1949-08-20',
       '1954-02-15', '1962-06-20', '2002-11-24', '1963-03-20',
       '1985-03-04', '1995-08-17', '1957-02-09', '1962-03-29',
       '1990-04-12', '1964-01-07', '1956-01-01', '1943-12-15',
       '1935-07-07', '1998-11-19', '86-05-15', '41-01-24', '2004-08-05',
       '1963-10-02', '1956-04-22', '1955-12-28', '1941-10-27',
       '1951-12-23', '1938-09-14', '1990-05-19', '1997-01-12',
       '1962-06-28', '1955-06-21', '1971-02-20', '1967-07-24',
       '1943-07-28', '1978-07-16', '1964-03-08', '1932-08-26',
       '1993-03-01', '1946-11-13', '1991-03-07', '1950-07-12',
       '1980-02-12', '1966-08-22', '1958-02-12', '1944-09-13',
       '1958-09-27', '1999-11-21', '1944-10-03', '1968-03-27',
       '1962-10-19', '1992-04-05', '1964-04-28', '1985-12-29',
       '1971-09-27', '1970-05-24', '1942-10-24', '1954-11-17',
       '1956-06-23', '1963-02-25', '1983-06-28', '1957-01-30',
       '1951-11-07', '1982-08-26', '1969-11-21', '1994-08-28',
       '1959-05-18', '1960-09-06', '1991-04-15', '1933-06-15',
       '1996-09-25', '1976-07-31', '1991-01-01', '2000-12-20',
       '1935-05-05', '1975-08-25', '1948-11-27', '56-06-07', '1963-07-01',
       '1988-10-09', '1936-03-07', '1993-09-05', '1981-11-14', '64-12-30',
       '1948-10-20', '1966-08-27', '1942-11-28', '1992-09-07',
       '1941-01-22', '1958-09-25', '1975-06-18', '2002-08-31',
       '1941-12-12', '1974-11-05', '1986-01-17', '1995-08-16',
       '1964-08-04', '1986-04-28', '1984-05-31', '1945-08-19',
       '1957-07-31', '1965-11-13', '1992-11-12', '1966-09-04',
       '1959-12-16', '92-12-14', '1967-04-28', '1991-08-10', '1942-06-02',
       '1975-07-06', '1959-05-07', '1957-02-13', '1963-11-24',
       '1968-07-26', '1968-05-16', '1967-05-25', '1957-11-21',
       '2001-10-31', '1951-10-09', '1935-03-10', '1947-08-24',
       '1983-10-09', '1989-01-13', '1970-01-18', '77-08-15', '1973-07-28',
       '1975-12-28', '1985-10-08', '1990-12-19', '1955-12-17',
       '1982-01-11', '1957-05-14', '1957-07-04', '1970-09-10',
       '1991-08-18', '1935-11-06', '1957-10-29', '78-12-28', '1960-07-29',
       '1961-11-14', '1985-06-22', '1946-01-19', '1948-10-11',
       '1934-01-02', '1954-04-29', '47-03-10', '83-06-04', '1963-05-18',
       '1959-07-17', '1974-11-20', '1977-10-24', '1964-09-27',
       '2003-07-25', '1955-02-01', '1948-04-13', '1989-10-27',
       '1948-07-12', '1947-12-16', '1951-02-05', '1979-08-01', '35-03-13',
       '2006-10-07', '1948-01-31', '34-10-18', '1968-02-17', '1960-03-19',
       '1962-07-17', '1958-12-08', '1991-05-12', '1945-03-30',
       '1991-03-24', '1946-01-08', '1965-09-01', '1945-04-03',
       '1989-06-02', '1963-02-22', '1985-02-16', '1961-03-18',
       '2001-06-14', '1986-05-10', '1989-01-01', '1940-10-23',
       '1962-05-20', '1936-05-14', '1960-06-11', '1991-08-02',
       '1978-07-01', '2000-01-11', '1955-09-30', '1990-03-25',
       '1994-11-30', '1969-05-12', '1979-12-09', '1953-10-05',
       '1989-09-01', '1990-10-11', '1969-03-08', '44-12-19', '1947-05-01',
       '1962-01-02', '1973-02-06', '1962-05-09', '1984-01-09',
       '1938-01-22', '1965-04-04', '1985-01-15', '1967-08-08',
       '1962-08-29', '1996-10-20', '1952-07-15', '1972-01-23', '95-07-26',
       '1984-01-28', '1995-06-06', '1959-10-24', '1991-04-22', '49-04-27',
       '1946-01-06', '1965-09-16', '1937-02-27', '1957-08-19',
       '1985-04-20', '1962-06-29', '1999-03-04', '1994-01-18', '49-07-26',
       '60-12-08', '1997-10-19', '1967-09-30', '1978-08-27', '1970-02-07',
       '1952-04-05', '2004-01-17', '1964-04-13', '1994-07-12', '65-11-29',
       '1945-07-06', '1966-05-01', '1985-06-28', '59-05-10', '1970-10-24',
       '1980-10-13', '1997-12-18', '56-04-26', '1990-07-15', '1940-02-02',
       '1979-11-30', '1965-04-03', '1993-11-04', '1987-07-20',
       '1957-02-27', '1946-12-28', '83-04-24', '1968-08-31', '1982-12-22',
       '1960-10-21', '1960-08-23', '1963-09-23', '1952-01-22',
       '1945-07-22', '1943-01-09', '92-07-14', '1995-05-30', '1967-06-03',
       '1983-10-23', '1999-01-10', '1948-04-16', '1947-12-23',
       '1964-12-30', '1978-02-22', '1983-05-03', '1943-11-18',
       '1954-07-28', '1941-09-16', '1929-03-25', '1979-05-20',
       '1984-05-09', '1957-12-07', '1965-12-15', '1986-08-12',
       '1972-07-11', '1960-04-09', '1968-01-05', '58-01-09', '1968-01-18',
       '1973-10-09', '2000-10-05', '1946-01-14', '1955-11-05',
       '1943-08-06', '1990-12-08', '1978-12-06', '1965-11-20',
       '1958-03-28', '1997-06-12', '1963-11-09', '1940-07-10',
       '1947-11-07', '1986-08-30', '1933-10-20', '1963-10-29',
       '1996-07-02', '1979-01-31', '1976-04-12', '1963-08-16',
       '1958-01-12', '1968-08-18', '1961-03-03', '1995-01-09',
       '1978-03-03', '47-09-07', '1988-04-27', '1954-07-15', '1936-03-10',
       '1954-02-12', '2000-04-06', '1990-04-14', '1980-12-09',
       '1940-04-27', '1979-11-19', '1928-11-02', '1969-12-28',
       '1981-08-05', '1981-10-15', '1950-06-25', '1986-04-25',
       '1955-07-03', '1993-12-27', '1980-12-10', '1992-11-14',
       '1978-08-02', '1984-10-08', '1961-11-01', '1950-06-17',
       '1994-05-02', '1959-01-22', '63-11-25', '1950-06-22', '1933-10-05',
       '1953-10-02', '1943-10-17', '1947-03-12', '1968-01-01',
       '1932-04-12', '48-03-04', '1992-03-17', '53-09-24', '1975-03-11',
       '1942-09-09', '1963-07-12', '1955-09-16', '1989-11-25',
       '1947-09-12', '1962-09-28', '1950-05-14', '1940-11-02',
       '1941-06-13', '1991-04-07', '1958-01-06', '1963-02-26',
       '1990-12-03', '1947-01-05', '1981-10-31', '1963-10-08',
       '2005-12-06', '1942-11-02', '1987-08-02', '1999-01-11',
       '1966-01-03', '1938-11-12', '1956-02-13', '1964-07-07',
       '1945-08-29', '1979-03-31', '1979-11-03', '1989-12-27',
       '1931-04-23', '42-03-11', '1982-11-19', '1970-07-05', '1991-02-01',
       '1942-05-13', '1943-09-29', '1933-09-24', '1983-11-28',
       '1955-11-13', '58-10-12', '1965-08-16', '1967-05-14', '2002-02-17',
       '1959-11-13', '1977-12-27', '1997-10-06', '1961-08-29',
       '1949-04-03', '1950-11-24', '1979-03-22', '1968-04-29',
       '1996-03-24', '2000-05-30', '1965-06-02', '1946-07-25',
       '1982-04-19', '1957-11-13', '1989-08-24', '1988-06-13',
       '1945-10-03', '1958-09-11', '1957-06-13', '1953-08-11',
       '1975-05-31', '1995-11-12', '1935-01-08', '1973-01-19',
       '1957-09-21', '2002-10-24', '1931-03-07', '1949-01-25',
       '1971-04-07', '1958-12-07', '1984-01-29', '83-12-13', '1983-04-20',
       '1959-09-26', '1950-08-21', '1937-08-29', '1957-08-17',
       '1990-02-14', '1962-07-22', '1986-01-10', '1967-11-10',
       '1975-10-03', '1980-10-01', '1943-12-02', '1975-01-14',
       '2007-03-26', '1938-02-26', '1937-11-16', '1955-04-14',
       '1966-09-06', '1945-12-08', '1990-03-27', '1989-04-27',
       '1941-07-25', '2000-12-26', '1999-03-29', '1978-06-10',
       '1989-01-31', '1965-05-07', '1945-10-12', '1946-05-01',
       '1939-12-10', '1986-08-22', '1965-08-08', '77-12-02', '1955-02-16',
       '1959-12-17', '1971-04-28', '1939-03-10', '1972-02-22',
       '2003-02-25', '1934-01-21', '1987-07-30', '1991-03-03',
       '1944-06-22', '1969-02-01', '1952-03-26', '1969-07-28',
       '1969-02-06', '1945-02-06', '1968-02-22', '1964-01-02',
       '1945-01-26', '1989-01-17', '1976-10-17', '1962-03-24',
       '1958-05-19', '1981-12-06', '1956-04-01', '1939-10-08',
       '1943-04-30', '83-09-12', '1947-09-04', '1971-04-29', '1969-02-14',
       '1935-04-22', '97-03-03', '1987-01-30', '29-12-30', '1949-07-07',
       '1989-08-17', '1956-03-20', '1998-12-07', '1987-05-20',
       '1944-09-25', '1983-07-03', '1953-03-24', '1962-09-04',
       '1999-04-11', '1970-05-03', '1996-06-01', '1966-12-22',
       '1951-11-28', '1975-09-10', '1964-10-16', '1969-12-04',
       '1970-03-18', '60-04-10', '1941-05-28', '1951-02-19', '53-01-21',
       '1939-04-18', '1956-09-24', '1955-03-22', '1954-07-01',
       '1938-05-20'], dtype=object)

## One hot encoding

In [24]:
#Check what number for "class" represents which diagnosis
df_med[df_med['class']=='negative']['name'].head(1)

0    Aaron Johansen
Name: name, dtype: object

In [25]:
df_med[df_med['class']=='increased binding protein']['name'].head(1)

1    Abigail Martinez
Name: name, dtype: object

In [26]:
df_med[df_med['class']=='decreased binding protein']['name'].head(1)

483    Daniel Horner
Name: name, dtype: object

In [27]:
#Selecting columns that will be one-hot encoded
Labeled_colums = ["pregnant", "psych", "I131 treatment", "goitre", 
                 "tumor", "thyroid surgery", "class", "sex", "on thyroxine",
                 "query hyperthyroid", "query hypothyroid"]

a=pd.DataFrame()

#Label encoding for all columns
for col in Labeled_colums:
    lbl_encoder = LabelEncoder()    
    
    df_med[col] = df_med[col].apply(lambda x: str(x))
    df_med_valid[col] = df_med_valid[col].apply(lambda x: str(x))
    df_mean[col] = df_mean[col].apply(lambda x: str(x))
    df_mean_valid[col] = df_mean_valid[col].apply(lambda x: str(x))
    
    df_med[col + "_en"] = lbl_encoder.fit_transform(df_med[col])
    a[col+"_en"] = lbl_encoder.fit_transform(df_med[col])
    df_med_valid[col + "_en"] = lbl_encoder.fit_transform(df_med_valid[col])
    df_mean[col + "_en"] = lbl_encoder.fit_transform(df_mean[col])
    df_mean_valid[col + "_en"] = lbl_encoder.fit_transform(df_mean_valid[col])
    
    print(col + " encoded!")

pregnant encoded!
psych encoded!
I131 treatment encoded!
goitre encoded!
tumor encoded!
thyroid surgery encoded!
class encoded!
sex encoded!
on thyroxine encoded!
query hyperthyroid encoded!
query hypothyroid encoded!

In [28]:
#After column label encoding we

Labeled_colums = ["pregnant", "psych", "I131 treatment", "goitre", 
                 "tumor", "thyroid surgery", "sex", "on thyroxine",
                 "query hyperthyroid", "query hypothyroid"]

for col in Labeled_colums:
    ohe = OneHotEncoder()
    
    Xcol = ohe.fit_transform(df_mean[col].values.reshape(-1,1)).toarray()
    dfOneHot = pd.DataFrame(Xcol, columns = [str(col)+str(int(i)) for i in range(Xcol.shape[1])])
    pd.concat([df_mean, dfOneHot], axis=1)

In [29]:
#Check encoded values for "class" column
df_mean[df_mean['name']=='Aaron Johansen'][['class','class_en']]

      class  class_en
0  negative         2

In [30]:
df_mean[df_mean['name']=='Abigail Martinez'][['class','class_en']]

                       class  class_en
1  increased binding protein         1

In [31]:
df_mean[df_mean['name']=='Daniel Horner'][['class','class_en']]

                         class  class_en
483  decreased binding protein         0

## Here is the encoded data, so we can build a model

In [32]:
df_mean.head()

,name,address,age,sex,date_of_birth,query hyperthyroid,FTI measured,education,lithium,TT4,...,psych_en,I131 treatment_en,goitre_en,tumor_en,thyroid surgery_en,class_en,sex_en,on thyroxine_en,query hyperthyroid_en,query hypothyroid_en
0,Aaron Johansen,"744 Sandoval Causeway\nEast Robertburgh, NC 69901",59.0,M,1959-08-06 00:00:00,f,t,Assoc-acdm,f,118.0,...,0,0,0,0,0,2,2,0,0,0
1,Abigail Martinez,"59351 Craig Courts\nGordonbury, WI 53797",18.0,F,1899-12-09 00:00:00,f,t,Bachelors,f,143.0,...,0,0,0,0,0,1,1,0,0,0
2,Abraham Bruce,"137 Lewis Flat Suite 762\nWest Elizabeth, AL 3...",34.0,?,1884-02-13 00:00:00,f,t,HS-grad,f,95.0,...,0,0,0,1,0,2,0,0,0,0
3,Abraham Hicks,"031 Wood Wall Apt. 152\nVictorburgh, CA 40253",29.0,M,1889-10-04 00:00:00,f,t,Bachelors,f,135.0,...,0,0,0,0,0,2,2,0,0,0
4,Ada Jeffries,"66827 Ortiz Radial\nWest Justin, IL 04779",70.0,F,1948-04-25 00:00:00,f,t,Some-college,f,122.0,...,0,0,0,0,0,2,1,0,0,0

# II. Manual Prediction

According to medical compendium for thyroid diagnostics, parameters we ultimately need are: TSH, TT4, T4U and T3 hormones. T3U could also be useful, but unfortunately, we don't have T3U measurements in our data.

Here are the rules for categorizing:
> 1. If **TSH <0.4**:  
>> Check the level of T3 and T4. If **T3 >2.8** _nanomole/liter_ OR/AND **TT4 >140** _nanomole/liter_ OR/AND **T4U >65** _nanomole/liter_, then the diagnosis is highly close to **hyperthyroidism**.  
> 2. If **TSH >4.0**:  
>> Check the level of T4. If **TT4 <60** _nanomole/liter_ OR/AND **T4U <20** _nanomole/liter_, then the diagnosis is highly close to **hypothyroidism**.  

Normal values for the hormones are:

> **TSH**: 0.4-4.0 nanomole/liter  
> **TT4**: 60-140 nanomole/liter  
> **T4U**: 20-65 nanomole/liter  
> **T3**: 0.9-2.8 nanomole/liter  

In order to avoid false positive predictions due to very strict bounds, let's give a 5-15% deviation for each parameter.

In [55]:
def manual_predict(dframe=None):
    decreased=[]
    increased=[]
    predicted=[]
    for index, row in dframe.iterrows():
        if row['TSH'] < 0.4:
            if row['TT4'] > 140 and row['T4U'] > 0.65 or row['T3'] > 2.8:
                #increased.append(index)
                predicted.append("increased binding protein")
            else:
                predicted.append("negative")
        elif row['TSH'] > 4:
            if row['TT4'] < 60 and row['T4U'] < 0.2 or row['T3'] < 0.9:
                #decreased.append(index)
                predicted.append("decreased binding protein")
            else:
                predicted.append("negative")
        else:
            predicted.append("negative")
    print(len(predicted),len(dframe))
    #x=0
    #y=0
    #for i in range(len(dframe)):
    #    if x<len(decreased) and i==decreased[x]:
    #        dframe['class_predicted_manual'].iloc[i]="decreased binding protein"
    #        x+=1
    #    elif y<len(increased) and i==increased[y]:
    #        dframe['class_predicted_manual'].iloc[i]="increased binding protein"
    #        y+=1
    return predicted

### Counting Accuracy, Precision and Recall:

In [59]:
def apr_manual(dfr=None):
    dframe=None
    dframe=dfr
    true_positive=0
    true_negative=0
    false_positive=0
    false_negative=0
    accuracy=0
    precision=0
    recall=0
    for index, row in dframe.iterrows():
        if row['class']==row['class_predicted_manual']:
            if row['class']=="negative":
                true_negative+=1
            else:
                true_positive+=1
        else:
            if row['class']=="negative" and (row['class_predicted_manual']=="increased binding protein" 
                                             or row['class_predicted_manual']=="decreased binding protein"):
                false_positive+=1
            elif row['class_predicted_manual']=="negative" and (row['class']=="increased binding protein" 
                                             or row['class']=="decreased binding protein"):
                false_negative+=1
    
    accuracy = (true_positive+true_negative)/(true_positive+true_negative+false_positive+false_negative)
    precision = true_positive/(true_positive+false_positive)
    recall = true_positive/(true_positive+false_negative)
    
    print("Accuracy:",accuracy,"Precision:",precision,"Recall:",recall)

In [64]:
pred_manual=manual_predict(df_med)
df_med['class_predicted_manual']=pred_manual
apr_manual(df_med)

2237 2237
Accuracy: 0.8815377738042021 Precision: 0.14666666666666667 Recall: 0.3113207547169811

In [65]:
pred_manual=manual_predict(df_mean)
df_mean['class_predicted_manual']=pred_manual
apr_manual(df_mean)

2237 2237
Accuracy: 0.8815377738042021 Precision: 0.14666666666666667 Recall: 0.3113207547169811

# III. Decision Tree model

In [77]:
from sklearn.metrics import classification_report
from sklearn.model_selection import StratifiedKFold
df_target=df_med.copy()

features = ["TSH","TT4","T4U","T3","pregnant_en", "psych_en", "I131 treatment_en", "goitre_en", 
                 "tumor_en", "thyroid surgery_en", "sex_en", "on thyroxine_en",
                 "query hyperthyroid_en", "query hypothyroid_en"]

kf = StratifiedKFold(n_splits=10)
fold_count = 0
score=[]
for train, test in kf.split(df_target[features],df_target['class']):

    print("Processing fold %s" % fold_count)
    train_fold = df_target.iloc[train]
    test_fold = df_target.iloc[test]
    
#    # find best features
#    corr = train_fold.corr()['class'][train_fold.corr()['class'] < 1].abs()
#    corr.sort(ascending=False)
#    features = corr.index[[0,1]].values
    
    # Get training examples
    train_fold_input = train_fold[features].values
    train_fold_output = train_fold['class']
    
    # Fit logistic regression
    tree = DecisionTreeClassifier(criterion="entropy")
    tree.fit(train_fold_input, train_fold_output)
    
    # Check MSE on test set
    pred = tree.predict(test_fold[features])
    score.append(classification_report(test_fold['class'], pred, target_names=test_fold['class'].unique()))
    
    # Done with the fold
    fold_count += 1

print(DataFrame(score))

G:\Soft\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:626: Warning: The least populated class in y has only 9 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
G:\Soft\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

Processing fold 0
Processing fold 1
Processing fold 2
Processing fold 3
Processing fold 4
Processing fold 5
Processing fold 6
Processing fold 7
Processing fold 8
Processing fold 9

ValueError: Number of classes, 3, does not match size of target_names, 2. Try specifying the labels parameter

In [38]:
#Here we train our decision tree model
Tree = DecisionTreeClassifier(criterion="entropy")
#df[pd.notnull(df['class'])]
df_med_train=df_med.copy()
df_med_valid =df_med_valid.copy()
df_mean_train =df_mean.copy()
df_mean_valid =df_mean_valid.copy()

In [40]:
#Here we build our Tree using encoded columns
df_med_train["class_predicted_tree"]='negative'
df_mean_train["class_predicted_tree"]='negative'
Labeled_colums = ["TSH","TT4","T4U","T3","pregnant_en", "psych_en", "I131 treatment_en", "goitre_en", 
                 "tumor_en", "thyroid surgery_en", "sex_en", "on thyroxine_en",
                 "query hyperthyroid_en", "query hypothyroid_en"]
Predicted_col = ["class"] #This is the column we want to predict- does not have to be encoded (One-hot encoding)
X_med = df_med_train[Labeled_colums]
Y_med = df_med_train[Predicted_col]
X_mean = df_mean_train[Labeled_colums]
Y_mean = df_mean_train[Predicted_col]
Tree.fit(X=X_med,y=Y_med) #Here we train our model
#Tree.fit(X=X_mean,y=Y_mean)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [41]:
df_med_train[df_med_train.columns[22:]].head()

,class,marital-status,goitre,native-country,hypopituitary,medical_info,on antithyroid medication,referral source,education-num,occupation,...,goitre_en,tumor_en,thyroid surgery_en,class_en,sex_en,on thyroxine_en,query hyperthyroid_en,query hypothyroid_en,class_predicted_manual,class_predicted_tree
0,negative,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVHC,12.0,Craft-repair,...,0,0,0,2,2,0,0,0,negative,negative
1,increased binding protein,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Exec-managerial,...,0,0,0,1,1,0,0,0,negative,negative
2,negative,Never-married,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,STMW,9.0,Sales,...,0,1,0,2,0,0,0,0,negative,negative
3,negative,Married-civ-spouse,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,other,13.0,Adm-clerical,...,0,0,0,2,2,0,0,0,negative,negative
4,negative,Divorced,f,United-States,f,"{'query hypothyroid':'f','T4U measured':'t','p...",f,SVI,10.0,Other-service,...,0,0,0,2,1,0,0,0,negative,negative

In [42]:
prdtree=Tree.predict(df_med_valid[Labeled_colums])

In [46]:
df_med_valid['class_predicted_tree_en']=prdtree
##df_med_valid['class_predicted_tree']=lbl_encoder.inverse_transform(df_med_valid['class_predicted_tree_en'])
#for i in range(len(df_med)):
#    df_med['class_predicted_tree_en']

In [47]:
df_med_valid[df_med_valid['class']=='nan']

,name,address,age,sex,date_of_birth,query hyperthyroid,FTI measured,education,lithium,TT4,...,I131 treatment_en,goitre_en,tumor_en,thyroid surgery_en,class_en,sex_en,on thyroxine_en,query hyperthyroid_en,query hypothyroid_en,class_predicted_tree_en
278,Dorothy Mosier,Unit 4826 Box 7150\nDPO AA 16892,29,F,89-03-12,f,t,HS-grad,f,105.939787,...,0,0,0,0,2,1,0,0,0,negative
334,Evelyn Pittman,"9397 Rice Island Suite 974\nMartinmouth, GA 24315",54,F,1963-11-17,f,t,HS-grad,f,60.000000,...,0,1,0,0,2,1,0,0,0,negative
404,Helen Leblanc,"322 Brown Springs\nRobertstad, ND 59568",37,F,1981-05-10,f,t,Assoc-acdm,f,84.000000,...,0,0,0,0,2,1,0,0,0,negative
442,James Shelton,"809 Kristin Neck\nLeslieview, WY 39222",34,M,1984-06-07,f,t,Some-college,NaN,96.000000,...,0,0,0,0,2,2,0,0,0,negative
683,Marvin Gaudio,"09527 Flynn Ways\nMartinburgh, OK 06507",23,M,1995-06-06,nan,t,HS-grad,f,102.000000,...,0,0,0,0,2,2,0,1,0,negative
688,Mary Campbell,"116 Breanna Vista\nMahoneyberg, NJ 47403",69,F,49-04-27,f,t,Some-college,f,105.939787,...,0,1,0,0,2,1,0,0,0,negative
818,Regina Loftin,Unit 4047 Box 0400\nDPO AE 56453,68,F,1950-06-22,f,t,Some-college,f,105.939787,...,0,0,0,0,2,1,0,0,0,negative
883,Santos Young,"7397 Angel Union\nMarkberg, AK 34042",50,F,1968-04-29,nan,t,Bachelors,f,25.000000,...,0,0,0,0,2,1,0,1,0,negative

In [ ]:
df_med_valid[['name','class','class_en','class_predicted_tree_en']].head(50)

In [ ]:
# Graph vizualization
from sklearn.tree import export_graphviz
from graphviz import Source
from IPython.display import SVG

graph = Source(export_graphviz(cls, 
                               out_file=None,
                               feature_names=encoded.columns,
                               class_names=['no', 'yes'],
                               filled = True))

display(SVG(graph.pipe(format='svg')))

from IPython.display import HTML
style = "<style>svg{width:70% !important;height:70% !important;}</style>"
HTML(style)

In [ ]:
def apr_automated(dframe):
    true_positive=0
    true_negative=0
    false_positive=0
    false_negative=0
    accuracy=0
    precision=0
    recall=0
    for index, row in dframe.iterrows():
        if row['class']==row['class_predicted_tree']:
            if row['class']=="negative":
                true_negative+=1
            else:
                true_positive+=1
        else:
            if row['class']=="negative" and (row['class_predicted_tree']=="increased binding protein" 
                                             or row['class_predicted_tree']=="decreased binding protein"):
                false_positive+=1
            elif row['class_predicted_tree']=="negative" and (row['class']=="increased binding protein" 
                                             or row['class']=="decreased binding protein"):
                false_negative+=1
    
    accuracy = (true_positive+true_negative)/(true_positive+true_negative+false_positive+false_negative)
    precision = true_positive/(true_positive+false_positive)
    recall = true_positive/(true_positive+false_negative)
    
    print("Accuracy:",accuracy,"Precision:",precision,"Recall:",recall)

# Conclusion

During the final phase we created a pipeline to clean data from all future datasets by using our own functions, stored in separate script file and in this IPYNB. After that, we created two methods to predict values in possible future datasets:
> 1) By manual classification.  
> 2) By decision tree predictor row by row.  

Also we created a method to calculate Accuracy, Prediction and Recall values for each type of predictionm which may be used upon datasets to control the process: apr_manual and apr_automated.